body {
  font-family: 'Poppins', sans-serif;
}

.worldmap {
  & .land {
    fill: #137B80;
    stroke: #C0C0BB;
  }

  & .interiors {
    fill: none;
    stroke: #339498;
  }

  & .graticule {
    fill: none;
    stroke: #DADADA;
  }

  & .sphere {
    fill: #ECECEC
  }
}