.worldmapcities {
  & .land {
    fill: #10243b;
    /* stroke: #C0C0BB; */
  }

  & .interiors {
    fill: none;
    stroke: #d9e0dd;
  }

  & .graticule {
    fill: none;
    stroke: #ececec;
  }

  & circle {
    fill: #bb4f8e;
    opacity: 0.3;
  }

  & .sphere {
    fill: #adeaf5
  }
}