@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Poppins', sans-serif;
}

.tick {
  & line {
    stroke: #C0C0BB;
  }

  & text {
    fill: #635F5D;
  }

  & tspan {
    font-size: small;
    fill: #635F5D;
  }
}

.marks {
  fill: #137B80;

  & path {
    fill: none;
    stroke: #137B80;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  & circle {
    fill: #137B80;
  }
}

.marks-color {

  & path {
    fill: none;
    stroke: #137B80;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  & circle {
    fill: #137B80;
  }
}

.axis-label {
  font-size: 2.5em;
  fill: #635F5D;
}

.world-map {
  & .land {
    fill: #137B80;
    stroke: #C0C0BB;
  }

  & .interiors {
    fill: none;
    stroke: #339498;
  }

  & .graticule {
    fill: none;
    stroke: #DADADA;
  }

  & .sphere {
    fill: #ECECEC
  }
}